/* テストスタイル : 開始　
div:empty, span:empty,
li:empty, p:empty,
td:empty, th:empty {padding: 0.5em; background: yellow;}

*[style], font, center {outline: 5px solid red;}
*[class=""], *[id=""] {outline: 5px dotted red;}

img[alt=""] {border: 3px dotted red;}
img:not([alt]) {border: 5px solid red;}
img[title=""] {outline: 3px dotted fuchsia;}
img:not([title]) {outline: 5px solid fuchsia;}

table:not([summary]) {outline: 5px solid red;}
table[summary=""] {outline: 3px dotted red;}
th {border: 2px solid red;}
th[scope="col"], th[scope="row"] {border: none;}

a[href]:not([title]) {border: 5px solid red;}
a[title=""] {outline: 3px dotted red;}
a[href="#"] {background: lime;}
a[href=""] {background: fuchsia;}
/* テストスタイル : 終了　*/
/* 警告メッセージ ：　開始　*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
 
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

/* 警告メッセージ　：　終了 */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

::-webkit-scrollbar {
	display: none;
}

.blended_grid {
	display: block;
	width: 1100px;
	overflow: hidden;
	margin: 5px auto 0 auto;
	border-left: 1px solid #BFBFBF;
	box-shadow: 5px 5px 0px -2px #BFBFBF;
	border-radius: 10px;
	background: #ffffff;
}

.pageHeader {
	float: left;
	clear: none;
	height: 250px;
	width: 1100px;
	font-family: Verdana;
	font-size: 12px;
	overflow: hidden;
	background: #ffffff;
}

.pageContent {
	float: left;
	clear: none;
	height: 330px;
	width: 1100px;
	overflow-x: hidden;
	padding: 0 80px;
	background: #ffffff;
}

.pageFooter {
	float: left;
	clear: none;
	height: 30px;
	width: 1100px;
	overflow: hidden;
	background: #ffffff;
	border: 1px solid #31637d;
	background: #ffffff;
	text-align: center;
	margin:0 auto;
	/* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #31637d 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #31637d));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #31637d 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #31637d 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #31637d 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #31637d 100%);
	/* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#31637d', GradientType=0);
	/* IE6-9 */
}

/* 頭部　*/

.logo {
	display: table-cell;
	width: 400px;
	height: 300px;
	text-align: center;
	vertical-align: middle;
}

/* フォーム　*/

body, p, form, input {
	margin: 0 overflow : hidden;
}

#form {
	float: left;
	width: 800px;
	height: 200px;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid #555;
}

form p {
	font-size: 14px;
}


.loginid, .password {
	margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
	width: 500px;
	padding: 4px;
	font-size: 14px;
	size: 10;
}

.submit {
	text-align: right;
}

/* font */

#form p {
	color: #077685;
	font-weight: bold;
}


/* skin */

#form {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 10px #000000;
	-moz-box-shadow: 0px 1px 10px #000000;
	box-shadow: 0px 1px 10px #000000;
	border: solid #000000 1px;
	background: #fafafa;
}


.submit {
	float: right;
	display: block;
	text-align: center;
	width: 150px;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ffaa22;
	padding: 9px 18px;
	text-decoration: none;
	background: -moz-linear-gradient( center top, #ffec64 5%, #ffab23 100%);
	background: -ms-linear-gradient( top, #ffec64 5%, #ffab23 100%);
	filter: progid : DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffec64), color-stop(100%, #ffab23));
	background-color: #ffec64;
	color: #333333;
	display: inline-block;
	text-shadow: 1px 1px 0px #ffee66;
	-webkit-box-shadow: inset 1px 1px 0px 0px #fff6af;
	-moz-box-shadow: inset 1px 1px 0px 0px #fff6af;
	box-shadow: inset 1px 1px 0px 0px #fff6af;
}

.submit:hover {
	background: -moz-linear-gradient( center top, #ffab23 5%, #ffec64 100%);
	background: -ms-linear-gradient( top, #ffab23 5%, #ffec64 100%);
	filter: progid : DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffab23), color-stop(100%, #ffec64));
	background-color: #ffab23;
}

.submit:active {
	position: relative;
	top: 1px;
}

label, input {
	display: inline;
	float: left;
}

input {
	margin-bottom: 10px;
	border: solid #4eb4c2 1px;
	background: #faffbd;
}

input:focus {
	background: #ffffff;
}

label {
	width: 100px;
	text-align: right;
	padding-top:2px;
	padding-right: 15px;
}

br {
	clear: both;
}

/* エラー部　*/

.error {
	display: block;
	clear: both;
	float: left;
	width: 800px;
	overflow-x: hidden;
}